<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Task Management{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block container %}
    <div class="{% if containerFull is defined and containerFull == true %}container-fluid{% else %}container{% endif %}">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <a class="navbar-brand" href="{{ url('task_list') }}">
                    Task Application
                </a>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"> {{ "app.task.list"|trans }} <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('task_list') }}">{{ "app.task.list"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('task_list_assigned') }}">{{ "app.task.my_list"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('task_new') }}">{{ "app.task.new"|trans }}</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"> {{ "app.logs.list"|trans }} <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path("log_entries") }}">{{ "app.logs.list"|trans }}</a>
                                </li>
                            </ul>

                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container" style="margin-top:50px;">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" data-type="{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        {% if app.environment == 'dev' %}
        var IS_DEBUG = true;
        {% endif %}
    </script>
    <script src="{{ asset("js/utils.js") }}"></script>

{% endblock %}
{% endblock %}
</body>
</html>