{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig'  %}
    {{ form(form, {"action": path("task_edit_post", {task: form.vars.data.id})}) }}
    <a href="{{ path("task_list") }}" class="btn btn-default" title="{{ "app.task.list"|trans }}">{{ "app.task.list"|trans }}</a>
    <a href="{{ path("task_new") }}" class="btn btn-default" title="{{ "app.task.new"|trans }}">{{ "app.task.new"|trans }}</a>
{% endblock %}

{% block title %}
    {{ "app.task.new"|trans }}
{% endblock %}

