{% extends 'base.html.twig' %}

{% block title %}{{ "app.task.list"|trans }}{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <h4>{{ "app.task.list"|trans }}</h4>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" href="{{ path("task_new") }}"
               title="{{ "app.task.new"|trans }}">{{ "app.task.new"|trans }}</a>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ "app.task.field.title"|trans }}</th>
                    <th>{{ "app.task.field.description"|trans }}</th>
                    <th>{{ "app.task.field.assignedTo"|trans }}</th>
                    <th>{{ "app.task.field.deadline"|trans }}</th>
                    <th>{{ "app.task.field.status"|trans }}</th>
                    <th>{{ "app.actions"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td><a href="{{ path("task_show", {task: task.id}) }}"
                               title="{{ "app.task.show"|trans }}">{{ task.id }}</a></td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description|slice(0, 255) }}</td>
                        <td>{% if task.assignedTo is not null %}{{ task.assignedTo.username }}{% else %}---{% endif %}</td>
                        <td>{% if task.deadline is not null %}{{ task.deadline|date('Y-m-d') }}{% else %}---{% endif %}</td>
                        <td>{{ task.statusText|trans }}</td>
                        <td>
                            <a href="{{ path("task_edit", {task: task.id}) }}"
                               title="{{ "app.task.edit"|trans }}" class="btn btn-info"><span class="fa fa-edit"></span></a>
                            <a href="{{ path("task_delete", {task: task.id}) }}"
                               title="{{ "app.task.edit"|trans }}" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}