{% extends 'base.html.twig' %}

{% block title %}
    {{ "app.task.my_list"|trans }}
{% endblock %}

{% block body %}
    {% import _self as self %}
    <h4>{{ "app.task.my_list"|trans }}</h4>
    <div class="row">
        <div class="col-xs-4">
            {{ "app.task.todo_list"|trans }}
            <ul id="sortable_todo" class="connectedSortable"
                data-status="{{ constant("TaskBundle\\Entity\\Task::STATUS_OCZEKUJACY") }}">
                {% for task in tasks if task.status == constant("STATUS_OCZEKUJACY", task) %}
                    {{ self.sortableItem(task) }}
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-4">
            {{ "app.task.do_list"|trans }}
            <ul id="sortable_do" class="connectedSortable"
                data-status="{{ constant("TaskBundle\\Entity\\Task::STATUS_WYKONANY") }}">
                {% for task in tasks if task.status == constant("STATUS_WYKONANY", task) %}
                    {{ self.sortableItem(task) }}
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-4">
            {{ "app.task.done_list"|trans }}
            <ul id="sortable_done" class="connectedSortable"
                data-status="{{ constant("TaskBundle\\Entity\\Task::STATUS_ODRZUCONY") }}">
                {% for task in tasks if task.status == constant("STATUS_ODRZUCONY", task) %}
                    {{ self.sortableItem(task) }}
                {% endfor %}
            </ul>
        </div>

        <div class="col-xs-12">
            <div id="panel-task">

            </div>
        </div>
    </div>
{% endblock %}


{% macro sortableItem(task) %}
    <li class="ui-state-default" data-item="{{ task.id }}">
        <p>{{ task.title }}</p>
        <small>{{ task.description|slice(0,50) }}</small>
    </li>
{% endmacro %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .connectedSortable {
            width: 100%;
            border: 1px solid #eee;
            min-height: 120px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            margin-right: 10px;
        }

        .connectedSortable li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".connectedSortable").sortable({
                connectWith: ".connectedSortable",
                receive: function (event, ui) {
                    var $item = ui.item;

                    changeStatus($item.attr("data-item"), $(this).attr("data-status"));
                }
            }).disableSelection();

            /**
             * Triggers change status request
             * @param id
             */
            function changeStatus(id, status) {
                var url = Utils.getUrl("task_change_status", [id]);

                $.ajax({
                    url: url,
                    method: "POST",
                    data: {
                        status: status
                    }
                });
            }

            function showPanel(id)
            {
                var url = Utils.getUrl("task_show_panel", [id]);
                $.ajax({
                    url: url,
                    method: "GET",
                    data: {
                        status: status
                    }
                });
            }
        });
    </script>
{% endblock %}

