{% extends 'base.html.twig' %}

{% block title %}
    {{ "app.task.show"|trans }}
{% endblock %}

{% block body %}
    <h4>{{ "app.task.details"|trans({"%name%": task.title}) }}</h4>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'app.task.show_params'|trans }}</th>
            <th>{{ 'app.task.show_value'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ "app.task.field.title"|trans }}</td>
            <td>{{ task.title }}</td>
        </tr>
        <tr>
            <td>{{ "app.task.field.description"|trans }}</td>
            <td>{{ task.description }}</td>
        </tr>
        {% if task.assignedTo is not null %}
            <tr>
                <td>{{ "app.task.field.assignedTo"|trans }}</td>
                <td>{{ task.assignedTo.username }}</td>
            </tr>
        {% endif %}
        {% if task.description is not null %}
            <tr>
                <td>{{ "app.task.field.deadline"|trans }}</td>
                <td>{{ task.deadline|date("Y-m-d") }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ path("task_edit", {task: task.id}) }}" class="btn btn-primary"
       title="{{ "app.task.edit"|trans }}">{{ "app.task.edit"|trans }}</a>
    <a href="{{ path("task_list") }}" class="btn btn-default"
       title="{{ "app.task.list"|trans }}">{{ "app.task.list"|trans }}</a>
{% endblock %}

