{% extends 'base.html.twig' %}

{% block title %}{{ "app.logs.list"|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h4>{{ "app.logs.list"|trans }}</h4>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ "app.logs.field.objectType"|trans }}</th>
                    <th>{{ "app.logs.field.objectId"|trans }}</th>
                    <th>{{ "app.logs.field.action"|trans }}</th>
                    <th>{{ "app.logs.field.createdAt"|trans }}</th>
                    <th>{{ "app.logs.field.createdBy"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.objectType }}</td>
                        <td>{{ log.objectId }}</td>
                        <td>{{ log.action|trans }}</td>
                        <td>{{ log.createdAt|date("Y-m-d H:i") }}</td>
                        <td>{{ log.createdBy }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}